.containing-page { 
  margin: 10% 10% 2% 10%;
  padding: 0%;
  background-color: #eee;
}

#header {
  padding-top: 0em;
  padding-bottom: 1em;
  color:red;
}

img {
  padding-top: 1em;
  padding-left: 1px;
  padding-right: 1px;
  padding-bottom: 0.5em;
  width: 200px;
}

.photo-container {
    margin-left: 10px;
    margin-right: 10px;
}
.photo-caption {
  padding: 10px;
}

p.bg-primary {
  font-size: 200%;
}

#winner-box {
    margin-left: 10px;
    margin-right: 10px;
}

.winner-name {
     padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    display: none;
}

